.cont{
    width: 100%;
    height: 100vw;
    background-color: #61d0d9;
}
.logo{
    text-align: center;
}

.login{
    margin: 100px;
    padding: 10px;
}

.cadastro{
    margin: 100px;
    padding: 10px;
}